<h1>Ember Pikaday Time</h1>
<p>Try opening up your console to see the data returned :)</p>

<h3>Standalone datepicker</h3>
{{pikaday-input
  format='dddd MMMM Do YYYY, h:mm:ss a'
  onSelection=(action 'doSomethingWithSelectedValue')
}}

<br>

<h3>Datepicker with dark theme</h3>
{{pikaday-input
  value=someDate
  onSelection=(action (mut someDate))
  theme='dark-theme'
}}

<h3>Datepicker with bound and set value</h3>
{{pikaday-input
  value=startDate
  onSelection=(action (mut startDate))
  format='DD.MM.YYYY'
}}

{{startDate}}

<button {{action "clearStartDate"}}>Reset Date</button>

<h3>Datepicker already disabled before it's rendered</h3>
{{pikaday-input disabled="disabled"}}

<h3>Inputless datepicker with dark theme</h3>
{{pikaday-inputless onSelection=(action (mut otherDate))}}
{{otherDate}}

<h3>Datepicker with min and max dates</h3>

{{pikaday-input
  minDate=minDate
  maxDate=maxDate
  value=secondStartDate
  onSelection=(action (mut secondStartDate))
  format='DD.MM.YYYY'
}}

{{secondStartDate}}
